@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  color: #1f2328;
  background: #f6f8fa;
}

* {
  box-sizing: border-box;
}

html {
  min-height: 100%;
}

body {
  min-height: 100%;
  margin: 0;
  font-family: "Mona Sans", "Mona Sans VF", -apple-system, BlinkMacSystemFont,
    "Segoe UI", "Noto Sans", Helvetica, Arial, sans-serif;
  font-size: 14px;
  line-height: 21px;
  color: #1f2328;
  background: #f6f8fa;
}

a {
  color: #0969da;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

button,
input,
select,
textarea {
  font: inherit;
}
